body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 10000px;
}
.window-percent {
  z-index: 1000;
  position: fixed;
  top: 50px;
  right: 0;
  color: darkgoldenrod;
  font-size: 35px;
}

#messages,
#sandelis,
#jLentele,
#math2nd,
#mathResult2nd,
#mathResult6th,
#math5th,
#mathResult5th,
#rezultatas,
#options,
#jTable,
#javascriptTest,
#javascript-testai,
#math4th,
#mathResult4th,
#math6th,
#mathResult7th,
#math7th,
#mathResult8th,
#math8th,
#mathResult9th,
#math9th,
#mathResult10th,
#math10th,
#randomNumbers,
#randomNumbers2,
#randomNumbers3,
#randomNumbers4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.error {
  border: 1px solid red;
}
.dataTables_wrapper,
.table-button {
  margin-top: 3rem;
}
#siteWrapper {
  padding: 0 1rem 0 1rem;
  height: 100vh;
}
#asmenineInfo_wrapper {
  display: none;
}
#asmenineInfo_wrapper.open {
  display: block;
}
#rezultatas,
#options,
#sandelis,
#jTable,
#javascript-testai,
#mathResult,
#math6th,
#mathResult6th {
  margin-top: 1rem;
}
.lentelesStilius th,
td {
  text-align: center;
  border: 1px solid grey;
  box-shadow: 0px 2px 30px -5px grey;
  padding: 1rem;
}
#randomNumbers3 {
  line-height: 6.5px;
}
#randomNumbers3::before, #randomNumbers3::after{
  content: '';
  display: table;
  clear: both;
}
#tevinis{
  width: 500px;
  height: 500px;
  position: relative;
  background-color: blueviolet;
}
.vaikas {
  width: 5px;
  height: 5px;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;

}